@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #ccc;
}

:root {
  --primary-orange: #f9ab00;
  --primary-dark: #212529;
  --primary-white: #fff;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

/* #################### NavBar  ###################### */
nav {
  z-index: 2;
  background-color: #000 !important;
}

@media (max-width: 750px) {
  .navbar-brand {
    margin-bottom: 110px;
  }
}

.navbar {
  height: 5rem;
  justify-content: space-between;
  position: sticky;
}
.navbar-brand {
  padding-left: 1rem;
}
.nav-item .nav-link {
  cursor: pointer;
  color: var(--primary-white);
  margin-right: 1rem;
  border-top: 0.1875rem solid #000;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.nav-item .nav-link:hover {
  color: var(--primary-white);
  border-top: 0.1875rem solid var(--primary-orange);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  margin-left: auto;
}
.icon {
  color: var(--primary-white);
}
.MenuIcon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }

  .main-info h3 {
    font-size: 1.5rem !important;
  }
  .main-info p {
    font-size: 1.1rem !important;
  }
  .typed-header {
    font-size: 1.7rem;
  }
  .particles-canvas {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .nav-menu {
    border-bottom: 3px solid var(--primary-dark);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #000;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 2;
  }
  .nav-item .nav-link {
    text-align: center;
    z-index: 2;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  .nav-link:hover {
    color: var(--primary-white);
    border-top: 0.1875rem solid var(--primary-orange);
  }

  .MenuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
/* ################## Header ########################## */
.header-wrapper {
  position: relative;
  background: url("https://www.open.edu/openlearn/ocw/pluginfile.php/1317197/mod_resource/content/0/sc_1_olhp_786px.jpg")
    no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.main-info h3 {
  color: var(--primary-orange);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
}
.main-info p {
  color: var(--primary-white);
  font-size: 1.5rem;
  font-weight: 700;
}
.main-info .typed-header {
  color: var(--primary-white);
  font-size: 2rem;
  font-weight: 700;
}

.btn-outline {
  margin: 2rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  font-weight: bold;
  border-radius: 0.1rem;
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  text-decoration: none;
}
.btn-outline:hover {
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  font-weight: bold;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
/* ############## Projects ################## */
.grid {
  width: 90%;
  margin: 50px auto;
}
.header {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.cards-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card-item {
  width: 30%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}
.card-title {
  width: 100%;
  padding: 30px 10px;
  text-align: center;
  background: linear-gradient(to right, #f0c400, #999068);
  color: rgb(251, 245, 245);
}
.item-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 15px;
}
.card-btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(90deg, #edc615, #edcf45);
  text-decoration: none;
  padding: 10px 5px;
  margin-top: 30px;
}
.card-item:hover {
  transform: scale(1.08);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.5);
}
.card-btn:hover {
  transform: scale(1.05);
  color: white;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.5);
}
/* Responsive media querie */
@media screen and (max-width: 768px) {
  .grid {
    width: 100%;
  }
  .card-title {
    font-size: 20px;
    padding: 20px;
  }
  .card-item {
    width: 80%;
  }
}

/* ################## Contact Me  ########################## */
.mb-3 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.form-label {
  color: #ccc;
}

.form {
  background-color: var(--primary-dark);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
.btn-form {
  margin-top: 20px;
  width: 40%;
  height: 40px;
  border: none;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
  background: linear-gradient(90deg, #edc615, #edcf45);
}
.btn-form:hover {
  transform: scale(1.05);
}
